<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleExecutable</key>
    <string>wxMupen64Plus</string>

    <key>CFBundleIconFile</key>
    <string>wxMupen64Plus.icns</string>

    <key>CFBundleIdentifier</key>
    <string>org.bitbucket.auria.wxmupen64plus</string>

    <key>CFBundleSignature</key>
    <string>WXMU</string>

    <key>CFBundleVersion</key>
    <string>0.2</string>

    <key>CFBundleShortVersionString</key>
    <string>0.2</string>

    <key>CFBundleGetInfoString</key>
    <string>wxMupen64Plus 0.2</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleDocumentTypes</key> <array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>n64</string>    <string>N64</string>
				<string>z64</string>    <string>Z64</string>
				<string>v64</string>    <string>V64</string>
			</array>
			<key>CFBundleTypeIconFile</key>      <string>mupen64cart.icns</string>
			<key>CFBundleTypeName</key>          <string>N64 Rom</string>
			<key>CFBundleTypeRole</key>          <string>Editor</string>
			<key>LSIsAppleDefaultForType</key>   <true/>
			<key>LSTypeIsPackage</key>           <false/>
		</dict>
		
	</array>
</dict>
</plist>
